<h1>Ingredients for <%= @recipe.title %></h1>

<%= link_to 'Add Ingredient', new_recipe_ingredient_path(@recipe), class: 'btn btn-primary' %>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name %> - <%= ingredient.quantity %>
      <%= link_to 'Edit', edit_recipe_ingredient_path(@recipe, ingredient) %> |
      <%= link_to 'Delete', recipe_ingredient_path(@recipe, ingredient), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Recipe', recipe_path(@recipe), class: 'btn btn-secondary' %>